<div class="_card-border">
  <link rel="stylesheet" href="https://use.typekit.net/gwk7eej.css" />
  <style>
    ._card-border {
      width: 60mm;
      height: 91mm;
      background-color: white;

      outline-style: dashed;
      outline-color: gray;
      outline-width: thin;

      padding: 2mm;

      color: black;
    }
    ._card {
      position: relative;
      margin: auto;
      top: 3.5mm;

      padding: 1mm;

      width: calc(100% - 9mm);
      height: calc(100% - 9mm);

      outline-style: solid;
      outline-color: #99995b;
      outline-width: 3.5mm;

      border-radius: 1mm;

      font-size: 14px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    ._title {
      text-transform: uppercase;
      font-family: "mesquite-std", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 34px;
      letter-spacing: 1px;
    }
    ._description {
      margin: auto;
      text-align: center;

      font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua,
        Georgia, serif;
    }
    ._circle {
      position: absolute;

      width: 2.5mm;
      height: 2.5mm;

      background-color: white;
      border-radius: 100%;
    }
    .shadow {
      display: block;
      position: relative;
      width: 95%;
    }
    ._image {
      width: 100%;
      height: 100%;
    }
    .shadow:before {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      -moz-box-shadow: inset 0px 0px 30px 10px white;
      -webkit-box-shadow: inset 0px 0px 30px 10px white;
      box-shadow: inset 0px 0px 30px 10px white;
    }
  </style>
  <div class="_card">
    <div class="_title">jourdonais</div>
    <div class="shadow">
      <img
        class="_image"
        src="https://th.bing.com/th/id/OIG2.9SrcFK.NbT1Q61EBynCo?w=1024&h=1024&rs=1&pid=ImgDetMain"
      />
    </div>
    <div class="_description">
      Valahányszor rálőnek <i>BANG!</i> kártyával, húzhat egy lapot. Ha kőrt
      húz, a lövés nem talált.
    </div>
    <div class="_circle" style="left: 21.5mm; top: -3.4mm"></div>
    <div class="_circle" style="left: 18.5mm; top: -3.8mm"></div>
    <div class="_circle" style="left: 11mm; top: -3.2mm"></div>
  </div>
</div>
