<div id="card">
	<style>
		#card {
			width: 6.4cm;
			height: 8.9cm;
			
			color: white;
			text-align: center;
			
			background-color: black;
			background-image: url("{{&Image_Source}}");
			background-position-y: -15%;
			background-position-x: center;
			background-size: 6.4cm 6.4cm;
			background-repeat: no-repeat;
			
			border-style: solid;
			border-radius: 3mm;
			border-width: 1mm;
			border-color: black;
			
			display: grid;
			grid-template-rows: [row1-start] 1.5rem [row1-end] 4cm [third-line] auto [last-line]
		}
		#header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
			grid-row-start: 1;
		}
		.card-element {
			padding: 0.25rem;
			background-color: black;
			border-radius: 1mm;
			z-index: 1;
		}
		.description {
			grid-row-start: 3;
			overflow: hidden;
			background-color: dimgray;
			font-size: {{Description_Scale}}rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	</style>
	<div id="header">
		<div class="card-element">{{Title}}</div>
		<div class="card-element">{{Level}}</div>
	</div>
    <div class="card-element description">
		<div>{{Description}}</div>
	</div>
</div>