<div
  style="
    width: 67mm;
    height: 92mm;

    background-color: white;

    outline-style: dashed;
    outline-color: gray;
    outline-width: thin;

    padding: 2mm;

    font-size: 24px;
    color: black;
    font-weight: 700;
    font-style: normal;
    font-family: bebas-neue-pro-semiexpanded, sans-serif;
  "
>
  <link rel="stylesheet" href="https://use.typekit.net/phd6wkw.css" />
  <div
    style="
      margin: 2mm;
      padding: 2mm;
      height: calc(100% - 8mm);

      display: flex;
      flex-direction: column;

      outline-style: solid;
      outline-color: #89c72e;
      outline-width: 1mm;
      border-radius: 2mm;
    "
  >
    <div
      style="
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 0.3em;
      "
    >
      <img
        src="https://forgeofcards.com/favicon.png"
        style="width: 1.2em; height: 1.2em"
      />
      <div style="display: flex; flex-direction: column">
        <div>Defuse</div>
        <div
          style="
            position: relative;
            top: -1.5mm;
            font-size: 0.5em;
            font-weight: 400;
            color: gray;
          "
        >
          Via catnip sandwitches
        </div>
      </div>
    </div>
  </div>
</div>
