<div
  style="
    width: 67mm;
    height: 92mm;

    background-color: white;

    outline-style: dashed;
    outline-color: gray;
    outline-width: thin;

    padding: 2mm;

    font-size: 18px;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family: bebas-neue-pro-semiexpanded, sans-serif;
    text-transform: uppercase;
  "
>
  <link rel="stylesheet" href="https://use.typekit.net/phd6wkw.css" />
  <link rel="stylesheet" href="https://use.typekit.net/gwk7eej.css" />
  <div
    style="
      margin: 3mm;
      padding: 1mm;
      height: calc(100% - 6mm);

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      outline-style: solid;
      outline-color: {{Color}};
      outline-width: 1mm;
      border-radius: 1mm;
    "
  >
    <div style="display: flex; align-items: center; gap: 2mm">
      <img src="{{Icon_Source}}" style="width: 9mm; height: 9mm" />
      <div style="display: flex; flex-direction: column">
        <div>{{Title}}</div>
        <div
          style="
            height: 15px;
            position: relative;
            top: -1mm;
            font-size: 0.7em;
            color: gray;
          "
        >
          {{Description}}
        </div>
      </div>
    </div>
    <div
      style="
        height: 100%;
        width: calc(100% + 2mm);
        position: relative;
        left: -1mm;

        text-align: center;
        background-image: url('{{Image_Source}}');
        background-size: cover;

        color: white;

        display: flex;
        align-items: flex-end;
      "
    >
      <div
        style="
          margin-left: auto;
          margin-right: auto;
          max-width: 80%;
          display: flex;
          align-items: center;
        "
      >
        <div
          style="
            color: {{Rule_Color}};
            font-size: 2em;
            font-weight: 300;
            position: relative;
            bottom: 0.6mm;
          "
        >
          {
        </div>
        <div style="font-size: 0.7em; color: {{Rule_Color}};">{{Rule}}</div>
        <div
          style="
            color: {{Rule_Color}};
            font-size: 2em;
            font-weight: 300;
            position: relative;
            bottom: 0.6mm;
          "
        >
          }
        </div>
      </div>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        gap: 2mm;
        transform: rotate(180deg);
        height: 37px;
      "
    >
      <img src="{{Icon_Source}}" style="width: 9mm; height: 9mm" />
      <div style="display: flex; flex-direction: column">
        <div>{{Title}}</div>
        <div
          style="
            height: 15px;
            position: relative;
            top: -1mm;
            font-size: 0.7em;
            color: gray;
          "
        ></div>
      </div>
      <div
        style="
          writing-mode: vertical-rl;
          text-orientation: sideways;
          font-size: 0.4em;
          text-align: center;
          color: {{Color}};
          opacity: 50%;
          position: absolute;
          right: -5px;
          bottom: 13px;
        "
      >
        {{Edition}}
      </div>
    </div>
  </div>
</div>
