#page-title {
  @apply text-8xl  lg:text-9xl;
  line-height: 1.2;
  background: -webkit-linear-gradient(130deg, #0f5257, #a5b4fc, #0b3142);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #0f5257, #a5b4fc, #0b3142);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
